.navbar-nav {
  margin-right: auto;
}

.container {
    width: 100%;
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
    overflow: auto;
    padding-bottom: 150px;
    padding-top: 100px;
    
   
  }
  .container .item {
    flex: 0 0 calc(25% - 1em);
    min-height: 100px;
    min-width: 25px;
    margin: 0.25em 0.5em;
    font-size: 100%;
    align-items: center;
    
  }

  /* .container .item::after {
    flex: 0 0 calc(25% - 1em);
    min-height: 100px;
    min-width: 25px;
    margin: 0.25em 0.5em;
    font-size: 100%;
    align-items: center;
    animation: pulse 1.4s infinite ease-out
  }

  @keyframes pulse {
    to {
        box-shadow: 0 0 0 16px 
    }
} */

.block{
    flex: 0 0 calc(25% - 1em);
    min-height: 100px;
    min-width: 25px;
    margin: 0.25em 0.5em;
    font-size: 100%;
    align-items: center;
    background: dodgerblue;

    box-shadow: 0 0 0 0 rgba(0,0,0,1);
    transform:scale(1);
    animation: pulse 1s; 
}

.animate {
  animation: pulse 2s infinite;
}

@keyframes pulse {
	0% {
		transform: scale(0.95);
		box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.7);
	}

	70% {
		transform: scale(1);
		box-shadow: 0 0 0 10px rgba(0, 0, 0, 0);
	}

	100% {
		transform: scale(0.95);
		box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
	}
}

  #client_name{
    font-size: 100%;
    text-align: center;
    position: relative;
    overflow: auto;
    font-weight:bold;
  }

  #num{
    font-size:400%;
    text-align: center;
  }