.container {
    width: 100%;
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
    overflow: auto;
  }
  .container .item {
    flex: 0 0 calc(25% - 1em);
    min-height: 100px;
    min-width: 25px;
    margin: 0.25em 0.5em;
    font-size: 100%;
    align-items: center;
  }

  #client_name{
    font-size: 100%;
    text-align: center;
  }

  #num{
    font-size:400%;
    text-align: center;
  }